 <%= form_for(@article, html: {class: 'form-horizontal'}) do |f| %>

<%= f.label :title %>

<%= f.text_field :title, class: 'form-control' %>

<%= @article.errors[:title].first unless @article.errors[:title].blank? %>

<br/>

<%= f.label :content %>

<%= f.text_area :content, cols: 10, rows: 3, class: 'form-control' %>
<%= @article.errors[:content].first unless @article.errors[:content].blank? %>

 <br/>

<%= f.label :status %>

<%= f.radio_button :status, "active" %>

<%= label :article_status, 'active' %>

<%= f.radio_button :status, "off", :checked => true %>

<%= label :article_status, 'off' %>

<br/>

<br/>

<div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: 'btn btn-primary' %>
    </div>

<% end %>
